<mat-form-field>
  @if (this.label) {
    <mat-label>{{this.label}}</mat-label>
  }
  <input
    type="text"
    matInput
    [formControl]="this.autocompleteFormControl"
    [matAutocomplete]="auto"/>
  <mat-autocomplete
    autoActiveFirstOption
    [displayWith]="this.displayName.bind(this)"
    (optionSelected)="this.selectValue($event)"
    #auto="matAutocomplete">
    @if (this.mapOfElements) {
      @for (option of results | keyvalue; track option.key) {
        <mat-option [value]="option.key">{{option.value}}</mat-option>
      }
    }
  </mat-autocomplete>
  @if (this.autocompleteFormControl.hasError("validation")) {
    <mat-error class="error">
      {{this.autocompleteFormControl.getError("validation")}}
    </mat-error>
  }
</mat-form-field>

