:host {
  display: block;
}

mat-form-field {
  width: 100%;
}

.error {
  margin-top: 10px;

  border-radius: 5px;
  padding: 5px;
  text-align: center;

  color: var(--mat-sys-on-error-container);
  background: var(--mat-sys-error-container);
}
