<mat-form-field>
  @if (this.label) {
    <mat-label>{{this.label}}</mat-label>
  }
  <input
    type="text"
    matInput
    [formControl]="this.autoCompleteFormControl"
    [matAutocomplete]="auto"/>
  <mat-autocomplete
    autoActiveFirstOption
    [displayWith]="this.displayName.bind(this)"
    (optionSelected)="this.selectValue($event)"
    #auto="matAutocomplete">
    @if (this.autocompleteMethod && this.autocompleteNameField && this.autocompleteIdField) {
      @for (option of results; track option[this.autocompleteIdField]) {
        <mat-option [value]="option">{{option[this.autocompleteNameField]}}</mat-option>
      }
    }
  </mat-autocomplete>
  @if (this.autoCompleteFormControl.hasError("validation")) {
    <mat-error class="error">
      {{this.autoCompleteFormControl.getError("validation")}}
    </mat-error>
  }
</mat-form-field>

