<mat-form-field>
  @if (this.label() !== null) {
    <mat-label>{{this.label()}}</mat-label>
  }

  <input
    type="text"
    matInput
    [formControl]="this.autocompleteFormControl()"
    [matAutocomplete]="auto"/>

  <mat-autocomplete
    autoActiveFirstOption
    [displayWith]="this.stringify.bind(this)"
    (optionSelected)="this.selectValue($event)"
    #auto="matAutocomplete">

    @for (option of this.results(); track this.track(option)) {
      <mat-option [value]="option">{{this.stringify(option)}}</mat-option>
    }

  </mat-autocomplete>

  @if (this.autocompleteFormControl().hasError("validation")) {
    <mat-error class="error">
      {{this.autocompleteFormControl().getError("validation")}}
    </mat-error>
  }
</mat-form-field>

