mat-nav-list a {
  margin-bottom: 10px;

  &.mdc-list-item--activated {
    background-color: var(--mat-sys-primary);

    .mat-list-item-content {
      color: var(--mat-sys-on-primary);
    }
  }

  .mat-list-item-content {
    display: grid;
    grid-template-columns: min-content auto;
    grid-gap: 20px;

    text-decoration: none;
  }
}
