<span tabindex="0" #resetFocus></span>
<div class="fiche-machine">
  <div class="label">Client :</div>
  <div>{{ proprietaire()?.getDesignation() }}</div>

  <div class="label">Machine :</div>
  <div>
    <mat-form-field (click)="this.editMachine()" (keydown.enter)="this.editMachine()">
      <input matInput [value]="machine()?.nom" [readonly]="true"/>
    </mat-form-field>
  </div>

  <div class="label" style="grid-row-start: 2; grid-row-end: 4">Adresse :</div>
  <div style="grid-row-start: 2; grid-row-end: 4">{{ Adresse.adresseToString(proprietaire()?.adresse ?? null) }}</div>

  <div class="label">Numero de chassis :</div>
  <div>
    <mat-form-field (click)="this.editMachine()" (keydown.enter)="this.editMachine()">
      <input matInput [value]="machine()?.numeroChassis" [readonly]="true"/>
    </mat-form-field>
  </div>

  <div class="label">Description :</div>
  <div>
    <mat-form-field (click)="this.editMachine()" (keydown.enter)="this.editMachine()">
      <textarea matInput [value]="machine()?.description" [readonly]="true" [rows]="1"></textarea>
    </mat-form-field>
  </div>
</div>

<mat-tab-group>
  <mat-tab label="Pièces">
    <div class="header">
      <h3>Liste des pièces liés à la machine</h3>

      <div class="header-actions">
        @if (this.editAccess()) {
          <button mat-flat-button (click)="this.linkPiece()">Ajouter</button>
        }
      </div>
    </div>

    @if (this.machine()) {
      <app-piece-light-table [machine]="machine()!"></app-piece-light-table>
    }
  </mat-tab>
  <mat-tab label="Services">Services</mat-tab>
</mat-tab-group>
