<div class="header">
  <h2>{{this.title}}</h2>

  @if (this.actionColumnInfo.created) {
    <div class="header-actions">
      <button mat-flat-button (click)="openDialog(null, DialogType.CREATE)">Créer</button>
    </div>
  }
</div>

<div class="table-encapsulation">
  @if (this.isLoadingData) {
    <mat-spinner [diameter]="50"></mat-spinner>
    <div class="ui-hide"></div>
  }

  <table mat-table
         multiTemplateDataRows
         [dataSource]="data ? data.elements : []"
         matSort
         (matSortChange)="sort($event)"
         [matSortActive]="getDefaultSort()"
         [matSortDirection]="getDefaultOrder()">

    @for (column of this.getColumnsToGenerateList(); track column.field) {
      <ng-container [matColumnDef]="column.field">
        <th mat-header-cell
            *matHeaderCellDef
            [mat-sort-header]="column.field"
            [disabled]="!column.sortable"
            [style.width]="column.width">
          {{ column.label }}
        </th>
        <td mat-cell
            *matCellDef="let element">
          @if (LinkColumn.isInstanceOf(column)) {
            @if (column.getValue(element)) {
              @if (column.getValue(element).startsWith('http')) {
                <a [href]="column.getValue(element)"
                   (keydown.enter)="$event.stopPropagation()"
                   (click)="$event.stopPropagation()"
                   target="_blank">
                  <button mat-icon-button>
                    <mat-icon>{{LinkColumn.cast(column)!.icon}}</mat-icon>
                  </button>
                </a>
              } @else {
                <a [routerLink]="column.getValue(element)"
                   (keydown.enter)="$event.stopPropagation()"
                   (click)="$event.stopPropagation()">
                  <button mat-icon-button>
                    <mat-icon>{{LinkColumn.cast(column)!.icon}}</mat-icon>
                  </button>
                </a>
              }
            }
          } @else {
            <div class="multi-lines">{{ column.getValue(element) }}</div>
          }
        </td>
      </ng-container>
    }

    <ng-container [matColumnDef]="'actions'">
      <th mat-header-cell
          *matHeaderCellDef
          [style.width]="'10%'"
          [style.text-align]="'right'">
        @if (this.viewFilter) {
          <button mat-icon-button
                  (click)="viewFilter = false">
            <mat-icon>filter_alt</mat-icon>
          </button>
        } @else if(this.existFilter) {
          <button mat-icon-button
                  (click)="viewFilter = true">
            <mat-icon>filter_alt_off</mat-icon>
          </button>
        }
      </th>
      <td mat-cell
          *matCellDef="let element"
          [style.text-align]="'right'">
        @if (this.actionColumnInfo.read || this.actionColumnInfo.modify || this.actionColumnInfo.delete) {
          <button mat-icon-button
                  [matMenuTriggerFor]="menu"
                  (keydown.enter)="$event.stopPropagation()"
                  (click)="$event.stopPropagation()">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            @if (this.actionColumnInfo.read) {
              <button mat-menu-item (click)="openDialog(element, DialogType.READ)">Afficher</button>
            }
            @if (this.actionColumnInfo.modify) {
              <button mat-menu-item (click)="openDialog(element, DialogType.MODIFY)">Modifier</button>
            }
            @for (action of this.actionColumnInfo.actions ?? []; track action.name) {
              <button mat-menu-item (click)="this.run(action.action, element)">
                {{action.name}}
              </button>
            }
            @if (this.actionColumnInfo.delete) {
              <button mat-menu-item (click)="openDialog(element, DialogType.DELETE)">Supprimer</button>
            }
          </mat-menu>
        }
      </td>
    </ng-container>

    <ng-container [matColumnDef]="'filters'">
      <th mat-header-cell
          *matHeaderCellDef
          [colSpan]="displayedColumns.length"
          class="filters-cell">

        @for (column of columns; track column.field) {
          <div [style.width]="column.width">
            @for (columnFilter of column.filters; track columnFilter.filterField) {
              @if (InputFilter.isInstanceOf(columnFilter)) {
                <mat-form-field>
                  <input matInput
                         [(ngModel)]="columnFilter.filterValue"
                         (input)="filter()">
                </mat-form-field>
              } @else if (AutocompleteFilter.isInstanceOf(columnFilter)) {
                <app-autocomplete
                  [autocompleteMethod]="AutocompleteFilter.cast(columnFilter)?.autocompleteMethod ?? null"
                  [autocompleteIdField]="AutocompleteFilter.cast(columnFilter)?.autocompleteIdField ?? null"
                  [autocompleteNameField]="AutocompleteFilter.cast(columnFilter)?.autocompleteNameField ?? null"
                  [(value)]="columnFilter.filterValue"
                  (valueChange)="filter()"/>
              }
            }
          </div>
        }
        <div [style.width]="'10%'"
             [style.text-align]="'right'">
          <button mat-icon-button
                  (click)="this.clearAllFilters()">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </th>
    </ng-container>

    <ng-content></ng-content>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-header-row
        *matHeaderRowDef="['filters']"
        [ngClass]="{'closed': !viewFilter}"></tr>

    @if (this.actionColumnInfo.clicOnLine) {
      <tr mat-row
          *matRowDef="let row; columns: displayedColumns;"
          class="mat-row-clickable"
          (keydown.enter)="openDialog(row, DialogType.READ)"
          (click)="openDialog(row, DialogType.READ)"></tr>
    } @else {
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    }
  </table>
  @if (!this.data?.elements?.length) {
    <div class="empty-table">Aucun élément dans la liste</div>
  }
  <mat-paginator [pageSizeOptions]="[10, 20, 50]"
                 (page)="changePage($event)"
                 showFirstLastButtons>
  </mat-paginator>
</div>
