<mat-toolbar class="mat-toolbar">
  <button mat-icon-button (click)="menu.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Gestion des stocks</span>
  @if (this.isLoggedIn()) {
    <button mat-flat-button (click)="this.logout()">
      Logout
    </button>
  } @else {
    <button mat-flat-button (click)="this.login()">
      Login
    </button>
  }
</mat-toolbar>

<mat-drawer-container>
  <mat-drawer #menu mode="side" opened="true">
    <div class="menu-wrapper">
      <app-menu></app-menu>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
