<div class="header">
  <h2>Statistiques des pièces</h2>
</div>

<div class="filtres">
  <app-autocomplete
    [autocompleteMethod]="this.autocompleteCategories.bind(this)"
    [autocompleteIdField]="Categorie.ID"
    [autocompleteNameField]="Categorie.NOM"
    label="Catégorie"
    [(value)]="this.categorie"/>
  <app-autocomplete
    [autocompleteMethod]="this.autocompleteFournisseurs.bind(this)"
    [autocompleteIdField]="Fournisseur.ID"
    [autocompleteNameField]="Fournisseur.NOM"
    label="Fournisseur"
    [(value)]="this.fournisseur"/>
</div>

<div echarts
     [options]="this.options()"
     [loading]="this.loading()">
</div>
