:host {
  display: block;
}

a {
  &.mdc-list-item--activated {
    --mat-list-active-indicator-color: var(--mat-sys-primary);

    .mat-list-item-content {
      color: var(--mat-sys-on-primary);
    }
  }

  .mat-list-item-content {
    display: grid;
    grid-template-columns: min-content auto;
    grid-gap: 20px;

    text-decoration: none;
  }
}
