@if (this.formGroup) {
  <form [formGroup]="this.formGroup">
    @if (this.formGroup.hasError("validation")) {
      <div class="principal-error">
        {{this.formGroup.getError("validation")}}
      </div>
    }

    @for (control of this.forms; track control.field) {
      @if (control.isInputFormField()) {
        <mat-form-field>
          <mat-label>{{ control.label }}</mat-label>
          <input matInput [formControl]="control.formControl" />
          @if (control.formControl.hasError("validation")) {
            <mat-error class="error">
              {{control.formControl.getError("validation")}}
            </mat-error>
          }
        </mat-form-field>
      }
      @if (control.isAutocompleteFormField()) {
        <app-autocomplete [label]="control.label"
                          [autocompleteFormControl]="control.formControl"
                          [autocompleteMethod]="control.getAutocompleteFormField()!.autocompleteMethod"
                          [autocompleteIdField]="control.getAutocompleteFormField()!.autocompleteIdField"
                          [autocompleteNameField]="control.getAutocompleteFormField()!.autocompleteNameField"/>
      }
      @if (control.isAutocompleteEnumFormField()) {
        <app-autocomplete-enum [label]="control.label"
                               [autocompleteFormControl]="control.formControl"
                               [mapOfElements]="control.getAutocompleteEnumFormField()!.mapOfElements"/>
      }
    }
  </form>
}

