<form [formGroup]="this.formGroup">
  @if (this.formGroup.hasError("validation")) {
    <div class="principal-error">
      {{ this.formGroup.getError("validation") }}
    </div>
  }
  <mat-accordion multi>
    @for (formsKeyValue of this.formsMap() | keyvalue: unsortedMap; track formsKeyValue.key) {
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header tabIndex="-1">
          <mat-panel-title> {{ formsKeyValue.key }}</mat-panel-title>
        </mat-expansion-panel-header>

        <div class="grid">
          @for (formField of formsKeyValue.value; track formField.field) {
            @if (InputFormField.isInstanceOf(formField)) {
              <mat-form-field [ngClass]="{'colspan-1': formField.colspan === 1, 'colspan-2': formField.colspan === 2}">
                <mat-label>{{ formField.label }}</mat-label>
                <input matInput [formControl]="formField.formControl"/>
                @if (formField.formControl.hasError("validation")) {
                  <mat-error class="error">
                    {{ formField.formControl.getError("validation") }}
                  </mat-error>
                }
              </mat-form-field>
            } @else if (NumberFormField.isInstanceOf(formField)) {
              <mat-form-field [ngClass]="{'colspan-1': formField.colspan === 1, 'colspan-2': formField.colspan === 2}">
                <mat-label>{{ formField.label }}</mat-label>
                <input matInput
                       [formControl]="formField.formControl"/>
                @if (formField.formControl.hasError("validation")) {
                  <mat-error class="error">
                    {{ formField.formControl.getError("validation") }}
                  </mat-error>
                }
              </mat-form-field>
            } @else if (TextAreaFormField.isInstanceOf(formField)) {
              <mat-form-field [ngClass]="{'colspan-1': formField.colspan === 1, 'colspan-2': formField.colspan === 2}">
                <mat-label>{{ formField.label }}</mat-label>
                <textarea matInput
                          [rows]="TextAreaFormField.cast(formField)!.numberOfLines"
                          [formControl]="formField.formControl">
                </textarea>
                @if (formField.formControl.hasError("validation")) {
                  <mat-error class="error">
                    {{ formField.formControl.getError("validation") }}
                  </mat-error>
                }
              </mat-form-field>
            } @else if (AutocompleteFormField.isInstanceOf(formField)) {
              <app-autocomplete [ngClass]="{'colspan-1': formField.colspan === 1, 'colspan-2': formField.colspan === 2}"
                                [label]="formField.label"
                                [autocompleteFormControl]="formField.formControl"
                                [autocompleteMethod]="AutocompleteFormField.cast(formField)!.autocompleteMethod"
                                [autocompleteIdField]="AutocompleteFormField.cast(formField)!.autocompleteIdField"
                                [autocompleteNameField]="AutocompleteFormField.cast(formField)!.autocompleteNameField"/>
            } @else if (AutocompleteMultipleFormField.isInstanceOf(formField)) {
              <app-autocomplete-multiple
                [ngClass]="{'colspan-1': formField.colspan === 1, 'colspan-2': formField.colspan === 2}"
                [label]="formField.label"
                [autocompleteFormControl]="formField.formControl"
                [autocompleteMethod]="AutocompleteMultipleFormField.cast(formField)!.autocompleteMethod"
                [autocompleteIdField]="AutocompleteMultipleFormField.cast(formField)!.autocompleteIdField"
                [autocompleteNameFields]="AutocompleteMultipleFormField.cast(formField)!.autocompleteNameFields"
                [separator]="AutocompleteMultipleFormField.cast(formField)!.separator"/>
            } @else if (AutocompleteEnumFormField.isInstanceOf(formField)) {
              <app-autocomplete-enum
                [ngClass]="{'colspan-1': formField.colspan === 1, 'colspan-2': formField.colspan === 2}"
                [label]="formField.label"
                [autocompleteFormControl]="formField.formControl"
                [mapOfElements]="AutocompleteEnumFormField.cast(formField)!.mapOfElements"/>
            }
          }
        </div>
      </mat-expansion-panel>
    }
  </mat-accordion>
</form>

